<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anonly</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="app">
        <div class="allmessages">
            <% messages.forEach(message => { %>
                <div id="messagebar">
                    <div id="topmsg">
                        <div id="msguser">@<%= message.user.toLowerCase() %></div>
                        <div id="msgdate"><%= message.added %></div>
                    </div>
                    <div id="msgtext"><%= message.text %></div>
                </div>
            <% }) %>
        </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>